/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: main-font;
    src: url('./assets/fonts/cour.ttf');
}

@font-face {
    font-family: port-font;
    src: url('./assets/fonts/FERRISP.TTF');
}